<!-- Deneme, Tum userları getir, npm i ejs ve app.set('view engine', 'ejs');
app.set('views', path.join(__dirname, 'views')); ekledim.-->>
<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
</head>
<body>
    <h1><%= message %></h1>
    <ul>
    <% users.forEach(function(user) { %>
        <li><%= user.email %></li>
    <% }); %>
    </ul>
</body>
</html>
